.env
tools
client_secret.json
token.json
ultimate-walker-393914-61a2d52d0388.json
dash_financeiro\pdf\Garantido e não garantido UP.pdf
dash_financeiro\data
dash_analise_credito\Auditoria das tabelas.txt
dash_comercial\data
dash_contratos\data
dash_gerencial\data
dash_rescisao\data
dash_rescisao\data\dados.parquet
dash_gerencial\data\Curva_ABC_Monetario_Ativos
dash_gerencial\data\Curva_ABC_Monetario_Todos
dash_gerencial\data\Curva_ABC_Numericos_Ativos
dash_gerencial\data\Curva_ABC_Numericos_Todos
dash_financeiro\data\bloco01.parquet
dash_financeiro\data\bloco02.parquet
dash_financeiro\data\bloco03_monetario.parquet
dash_financeiro\data\bloco03.parquet
dash_financeiro\data\bloco04_grafico01.parquet
dash_financeiro\data\bloco04_grafico02.parquet
dash_financeiro\data\bloco05_tabela01.parquet
dash_financeiro\data\bloco05_tabela02.parquet
dash_financeiro\data\bloco06_grafico1e2.parquet
dash_financeiro\data\bloco06_grafico03.parquet
dash_contratos\data\contrato
dash_contratos\data\contrato_filtrado
dash_comercial\data\analises
dash_comercial\data\assinados_desocupados
dash_comercial\data\Curva_ABC_Monetario_Ativos
dash_comercial\data\Curva_ABC_Monetario_Todos
dash_comercial\data\Curva_ABC_Numericos_Ativos
dash_comercial\data\Curva_ABC_Numericos_Todos
dash_comercial\data\pretendentes_sem_solidarios
dash_comercial\data\recebidos_enviados_assinados
dash_comercial\data\sistema
dash_comercial\data\sistema_ativos
dash_comercial\data\sistema_ativos_curva_abc_monetario.csv
dash_comercial\data\sistema_ativos_curva_abc_numerico.csv
dash_comercial\data\sistema_ativos.csv
dash_comercial\data\sistema_todos_curva_abc_mon.csv
dash_comercial\data\sistema_todos.csv
dash_comercial\data\teste.csv
dash_comercial\data\teste1.csv