PATH_DOWNLOAD_CHROME = Caminho para download dos arquivos no google
PATH_TOKEN_SHEETS_JSON = Consegue a credencial da API atráves desse passo a passo https://developers.google.com/sheets/api/quickstart/python?hl=pt-br, Defina o caminho do path token no .env antes de geralo
PATH_CREDENCIAL_SHEETS_JSON = Consegue a credencial da API atráves desse passo a passo https://developers.google.com/sheets/api/quickstart/python?hl=pt-br
PATH_TOKEN_MASTER_LANE_SHEETS = Consegue a credencial com esses tutoriais https://medium.com/@jb.ranchana/write-and-append-dataframes-to-google-sheets-in-python-f62479460cf0  https://www.youtube.com/watch?v=FDkknYBBbwQ&ab_channel=FelipeLobato 

HOST_DB_PROD_SERVICO =
DATABASE_PROD_SERVICO =
USER_DB_PROD_SERVICO =
PASS_DB_PROD_SERVICO =

HOST_DB_HOMO_SERVICO =
DATABASE_HOMO_SERVICO =
USER_DB_HOMO_SERVICO =
PASS_DB_HOMO_SERVICO =

HOST_DB_PROD_UP =
DATABASE_PROD_UP =
USER_DB_PROD_UP =
PASS_DB_PROD_UP =

HOST_DB_HOMO =
DATABASE_HOMO =
USER_DB_APP_HOMO =
PASS_DB_HOMO =

HOST_DB_LOCAL =
DATABASE_LOCAL =
USER_DB_LOCAL =
PASS_DB_LOCAL =

SUPERLOGICA_USER =
SUPERLOGICA_PASS =

API_TOKEN_PIPEDRIVE =

META_ID_CONTA_DE_ANUNCIAS_ACCOUNT =
META_ACCESSE_TOKEN =
META_APP_ID =
META_APP_SECRET =

CODE_SHEETS_DADOS_TRANSACIONAIS = 1qgIDPZbKhHluuc75i0Ls0mSxPiULKFVSeG5cP505p-E
CODE_SHEETS_DASH_COMERCIAL = 1vDxPi0inVGIuok_pG5hVJocqo90qqEFm6dlYYIYkClw
CODE_SHEETS_DASH_CONTRATOS = 1b_9i0Lr8iQlZC-vQk3rpv4aRF1CXB3E4wsLBKDv-dzY
CODE_SHEETS_DASH_FINANCEIRO = 1uma35KXtzXViZyHri3ij_Yswq-z38OKPd8-oPRAouKA
CODE_SHEETS_DASH_GERENCIAL = 1SE9rXv2D3dRtCv_11MW6W283MB1i0-H7fFhg_4oY6Ig
CODE_SHEETS_DASH_RESCISAO = 1LDOxWv8at6iC_yBSH19BoO7eGEMX_H9gtZLvKifMbEI
CODE_SHEETS_DASH_COBRANCAS = 1fcI4RDIB7p_O6zbNkmvtxYSXDClMB6wzLncrfipbqnw
CODE_SHEETS_DASH_GERENCIAL_COHORT = 1xEUEe-GqVAqYRuUcq4OQgFHs4YC2OoWmIaAU4pVqL3c
CODE_SHEETS_DASH_ANALISE_DE_CREDITO = 1VFyXXD2TM4f_3OIfkQxZNQXJkcVJ0DiSWiGI4GfuP0c
CODE_SHEETS_DASH_MARKETING = 1WPzXzj8UfFpyUslQkBug1E4-7qkdJ6rHiJDx02ysbAs
CODE_SHEETS_AUDITORIA = 1A7odjQwksWiT0wsW0HGmyL6AtlvvUSwdyI2xcjd7dGo
CODE_SHEETS_CPF_PARCEIRO = 1Amr-uAtMuMEywb7tZ6MwEPl-39o8wNbtjUgJVc_Wwzo
CODE_SHEETS_PROSPECCAO_INBOUND = 1gBUZXDCGp4xkixzwd5nKf6SrzbyWv1R3X2w4vApUwq8
CODE_SHEETS_BASE_HISTORICA_LANDINGI = 1vVmGnSQeHVvkcZJ4ktUe3RsgOlE8K_O4lQQAic7jslo